@page
@model MegaDesk3._0.Pages.Desks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="ad center">
        <h2>Desk</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Drawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Drawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Rush)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Rush)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desk.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desk.Price)
        </dd>
    </dl>
</div>
<div class="ad center">
    <a class="button" asp-page="./Edit" asp-route-id="@Model.Desk.Id">Edit</a> |
    <a class="button" asp-page="./Index">Back to List</a>
</div>
