@page
@model MegaDesk3._0.Pages.Desks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="button">
<p>
    <a asp-page="Create">Create New Quote</a>
</p>
</div>
<div class="center">
<form>
    <fieldset class="index-search">
    <p class="center">
        Name: <input type="text" asp-for="SearchName" />
        <input type="submit" value="Search" />
    </p>
        </fieldset>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Desk[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Desk[0].Date)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Rush)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Desk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rush)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    
    </tbody>
</table>
</div>
